/* Colors */
/* Basic settings */
html {
  font-size: 10px;
}
.button {
  background-color: #fdb303;
  color: #ffffff;
  padding: 1.5rem 3rem;
  border-radius: 8px;
  text-transform: uppercase;
  border: none;
  outline: none;
  font-size: 1.2rem;
}
/* Typography */
section {
  padding: 10rem 0;
}
/* Main header */
main {
  padding: 3rem 0;
}
.header {
  height: 7rem;
}
.header .phone-link {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 900;
  color: #1a1820;
}
