body {
	background-color: rgba(255,255,255,0.5);
}

.container {
	margin-top: 50px;
}


h1 {
	font-family: 'Mulish', sans-serif;
	text-align: center;
	margin: 0;
	margin-top: 20px;
}

.author-info {
 text-align: center;
}
.author-info h2 {
	font-size: 22px;
}

.author-contacts a {
	display: block;
	font-family: 'Mulish', sans-serif;
	font-weight: bold;
	text-align: center;
	color: black; 
	border:2px solid black;
	border-radius: 8px;
	padding: 5px 10px;
	margin-bottom: 5px;
}

.author-contacts a:hover {
	text-decoration: none;
	color: #fff;
	background-color: #000;
}